{% extends 'store/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1>About Us</h1>
    <p>Welcome to Orange mobiles, your one-stop destination for quality products and the best deals! We are dedicated to providing you with a vast selection of items at competitive prices, ensuring a smooth shopping experience.</p>
    <p>Our mission is to bring the best products to our customers while focusing on exceptional customer service. From electronics to clothing, we are constantly expanding our product range to meet all your needs.</p>
    <p>Thank you for choosing Orange mobiles. We look forward to serving you!</p>
</div>
{% endblock %}
