<!-- store/templates/store/contact.html -->

{% extends 'store/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1>Contact Us</h1>
    <p>If you have any questions, comments, or concerns, feel free to reach out to us. We're here to help!</p>
    <h3>Our Contact Details</h3>
    <ul>
        <li>Email: support@orange.com</li>
        <li>Phone: +91 9876 543 210</li>
        <li>Address: 168 , Orange mobiles, Kottakkal City, Kerala</li>
    </ul>
    <h3>Send Us a Message</h3>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Your Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Your Email">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="4" placeholder="Your Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
